*{ margin:0; padding:0; }
body{ background:#21313b; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding:10px 10px 0 10px; }
.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; padding:0px !important; margin:0px !important; width:100% !important; }
.txtCenter{ text-align:center; }
.txtRight{ text-align:right; }
img{ border:none; }
a{ color:#1269b6; text-decoration:underline; }
a:hover{ text-decoration:none; color:#000000; }
a:focus{ outline:none; }

#mainContainer{ width:100%; }
#header{ width:100%; padding-bottom:5px; }
.topLinks{ float:right; padding:62px 20px 0 0; }
.topLinks a{ 
	float:left; width:141px; height:40px; line-height:41px; margin-right:5px; color:#FFFFFF; font-weight:bold; font-size:16px; text-decoration:none; font-family:Arial, verdana; 
	background:url(../img/top-links-bg.gif) no-repeat; text-align:center;
}
.topLinks a.login{ background-position:right; }
.topLinks a:hover{ color:#000000; }

.searchPanel{ background:url(../img/search-bar-bg.gif) repeat-x; }
.searchPanel a{ float:left; padding-right:1px; }
.search{ float:right; padding-top:8px; }
.search input{ background:url(../img/search-bg.gif) no-repeat; width:194px; border:none; padding:6px 6px 6px 34px; }
.search input.btn{ background:url(../img/search-btn.gif) no-repeat; width:66px; text-align:center; padding:5px 0; color:#FFFFFF; font-weight:bold; letter-spacing:1px; cursor:pointer; }

#sliderHome{ text-align:center; padding-bottom:5px; width:981px; margin:auto; }
#sliderHome iframe{ width:100%; border:none; height:301px; }
#whiteContentBox{ background:#fff; }
.top, .bottom{ width:100%; background:#fff; }
#whiteContentBox .content{ padding:0 20px; }
#whiteContentBox .contentInner{ padding:0 10px; }
#blueBox{ width:100%; }
#blueBox .top{ background:url(../img/blue-border-bg.gif) repeat-x; }
#blueBox .bottom{ background:url(../img/blue-border-bg.gif) bottom repeat-x; }
#blueBox .content{ border:solid #e8eff3; border-width:0 3px; padding:0;  }

.leftPanel{ float:left; width:254px; background:url(../img/dotted-ver-bg.gif) right repeat-y; position:relative; z-index:1px; }
.leftPanel a{ display:block; height:48px; border-bottom:solid 1px #dbdbdb; }
.leftPanel a.recentReviews{ background:url(../img/recent-reviews.gif) no-repeat; }
.leftPanel a.newlyAdded{ background:url(../img/newly-added.gif) no-repeat; }
.leftPanel a.topRated{ background:url(../img/top-rated-schools.gif) no-repeat; }
.leftPanel a.suggestSchool{ background:url(../img/suggest-a-school.gif) no-repeat; }
.leftPanel a:hover, .leftPanel a.selected{ background-position:bottom; }
.homeContent{ margin-left:253px; background:url(../img/dotted-ver-bg.gif) repeat-y; padding-top:50px;}
.homeContentHolder{ background:url(../img/dotted-ver-bg.gif) 62% 0 repeat-y; padding:0 20px; }
.homeContentLeft{ float:left; width:60%; }

#slider{ width:100% !important; }
#slider ul{ width:100% !important; list-style:none; line-height:18px; }
#slider, #slider li{ width:100%; height:350px; overflow:hidden; text-align:justify; }
.sliderContent{ float:left; width:100%; padding-bottom:10px;}
.reviewDescription{ float:left; width:90%;}
.reviewDate{ float:right; font-size:11px; color:#666666;}
.sliderImage{ float:left; padding-right:15px;}
.sliderImage img{ border:solid 1px #ccc; padding:3px; float:left;}
#slider li span{ display:block; }
span#prevBtn, span#prevBtn a{ width:32px; height:27px; float:left; background:url(../img/up-arrow.gif) no-repeat; font-size:0; text-decoration:none; }
span#prevBtn{ border-right:solid 1px #4b6a7b; }
span#nextBtn, span#nextBtn a{ width:32px; height:27px; float:left; background:url(../img/down-arrow.gif) no-repeat; font-size:0; text-decoration:none; }	

.homeContentRight{ float:right; width:35%; }
.news{}
.news h2{ font-size:12px; text-transform:uppercase; margin-bottom:10px; }
.news .listing{ border-bottom:solid 1px #e1e1e1; padding-bottom:10px; margin-bottom:10px; width:100%; }
.news .listing.last{ border:none; }
.news .date{ float:left; text-align:center; background:url(../img/news-date-bg.gif) no-repeat; width:45px; height:50px; font-size:11px; color:#FFFFFF; font-weight:bold; padding-top:2px; }
.news .date span{ display:block; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; color:#000000; padding-top:3px; }
.newsContent{ margin-left:55px; font-size:11px; text-align:justify; color:#4b4b4b; }
.news a.viewAll, a.viewAll{ float:right; color:#4b4b4b; font-weight:bold; font-size:11px; text-decoration:none; border-left:solid 3px #c2850b; padding-left:6px; }
.news a.viewAll:hover, a.viewAll:hover{ color:#c2850b; }

.share{ padding:20px 0; width:530px ; margin:auto; }
.share .left{ padding-top:24px; }
.share a{ width:67px; float:left; height:91px; }
.share a.facebook{ background:url(../img/facebook-icon.gif) no-repeat; }
.share a.twitter{ background:url(../img/twitter-icon.gif) no-repeat; }
.share a.stumble{ background:url(../img/stumble-icon.gif) no-repeat; }
.share a.delicious{ background:url(../img/delicious-icon.gif) no-repeat; }
.share a.yahoo{ background:url(../img/yahoo-icon.gif) no-repeat; }
.share a:hover{ background-position:0 -100px; }

#footer{ width:100%; line-height:73px; background:url(../img/footer-bg.gif) repeat-x; height:73px; line-height:73px; color:#FFFFFF; }
#footer .left{ background:url(../img/footer-left.gif) no-repeat; padding-left:30px; }
#footer .right{ background:url(../img/footer-right.gif) right no-repeat; padding-right:30px; }
#footer a{ color:#FFFFFF; text-decoration:none; }
#footer a:hover{ text-decoration:underline; }

/* Inner */
#leftSliderWrap{ margin: 0 auto; width: 76px; position:fixed; left:0; top:198px; }
#sliderLeft{ position: absolute; width: 76px; height: 159px; }
#sliderContent{ position: absolute; width:76px; z-index:100; }
#sliderContent img{ border-bottom:solid 1px #dbdbdb; }
#sliderContent img.last{ border:none; }
#openCloseWrap{ position:absolute; margin: -38px 0 0 0; font-size:12px; font-weight:bold; z-index:100; }
#openCloseWrap .start{ margin-left:0px;}
#openCloseIdentifier{ position:absolute; margin:0 0 0 -76px !important; border:solid 5px #ccc; }

.pageHeading{ 
	font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF; font-weight:bold; padding:15px 0; margin-left:40px; background:url(../img/headingArrow.gif) bottom center no-repeat; float:left;
}

#leftContent{ float:left; width:60%; }
.rating{ float:right; padding-bottom:10px; }
.rating span{ font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; float:right; height:24px; line-height:24px; padding-left:10px; }
.info{ width:100%; background:url(../img/info-border-bg.gif) repeat-x; text-align:justify; line-height:18px; }
.info .inner{ background:url(../img/info-panel-left.gif) no-repeat; }
.info .inner .innerContent{ background:url(../img/info-panel-right.gif) top right no-repeat; padding:10px; }
.info .inner .innerContent strong{ color:#5f86c5; }
.info .inner .innerContent ul{ margin:15px 0 15px 50px; list-style:none; }
.info .inner .innerContent li{ background:url(../img/checked-icon.gif) 0 center no-repeat; text-indent:25px; line-height:25px; color:#686868; }
.links{ background:url(../img/links-bg.gif) no-repeat; float:right; padding:10px 20px; margin-top:8px; font-weight:bold; color:#2b60b4; font-size:11px; }
.links a{ text-decoration:none; }
.links a:hover{ color:#000000; }

#rightContent{ float:right; width:35%; }
.picGallery{ width:100%; margin-bottom:15px; }
.picGallery .selectedPic{ text-align:center; padding-bottom:10px; }
.picGallery .selectedPic img{ border:solid 5px #e9e9e9; }
.picGallery .nav{ width:100%; }
.picGallery .nav a{ float:left; border-right:solid 1px #4b6a7b; }
.picGallery .nav a.last{ border:none; }
.picGallery .nav .right{ color:#858585; line-height:27px; }

.recent{ width:100%; }
.recent .heading{ background:url(../img/recent-heading-bg.gif) repeat-x; width:100%; }
.recent .heading h1{ float:left; font-size:12px; line-height:33px; }
.recent .bottom{ width:100%; background:url(../img/recent-border-bg.gif) bottom repeat-x; margin-bottom:10px; }
.recent .content{ border:solid #f1f1f1; border-width:0 1px; padding:0 !important; }
.videoListing{ background:url(../img/video-listing-bg.gif) repeat-x; padding:10px; }
.videoListing img{ float:left; border:solid 1px #ccc; padding:3px; }
.videoListing span{ display:block; margin-left:85px; font-size:11px; line-height:18px; }
.videoListing span img{ float:none; padding:0; border:none; }
.videoListing span a{ text-decoration:none; }

.grayBox, .grayBox .top, .grayBox .bottom{ background:#f6f6f6 !important; }

.grayBox .content{ border:none !important; padding:0 12px; text-align:justify; line-height:18px; }

.user-rating .rating span{ font-size:13px; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:34px; }
.userName{ float:left; padding:10px 0 0 25px; font-size:13px; font-weight:bold; color:#2157aa; background:url(../img/user-icon.gif) 0 10px no-repeat; line-height:18px; }
.boxBottom{ padding:10px 0; font-size:11px; }
.boxBottom .date{ float:left; background:url(../img/calender-icon.gif) 20px 0 no-repeat; padding-left:40px; font-style:italic; color:#5a5a5a; }
.boxBottom .links{ margin:0; }

.writtenReviews{ padding:10px; list-style:none; font-size:11px; }
.writtenReviews li{ float:left; width:100%; line-height:18px; color:#5c5c5c; border-bottom:dashed 1px #ccc; padding-bottom:10px; margin-bottom:10px; }
.writtenReviews li .content{ display:block; clear:both; border:none; }
.writtenReviews li a{ text-decoration:none; }
.writtenReviews li .right a{ font-weight:bold; color:#000000; }
.writtenReviews li .right a:hover{ text-decoration:underline; }
.writtenReviews li.last, .writtenReviews li.clear{ border:none; padding:0; margin:0; }

#playerListing{ border-bottom:solid 1px #d3d5d6; margin-bottom:15px; }
#playerListing .player, #playerListing .videoThumbs{ width:958px; margin:auto; }

a.videoListingThumbs{ float:left; width:125px !important; text-decoration:none; line-height:18px; color:#797979; cursor:pointer; padding:0 12px; }
a.videoListingThumbs img{ border:solid 5px #dcdcdc; }
a.videoListingThumbs:hover{ color:#2b60b3; }
a.videoListingThumbs:hover img{ border:solid 5px #b7ddf2; }

.totalVideos{ background:url(../img/total-videos-left.gif) no-repeat #e8eff3; float:right;  font-family:Arial; color:#2d2d2d; font-weight:bold; font-size:12px; margin:10px 46px 0 0; }
.totalVideos span{ float:right; background:url(../img/total-videos-right.gif) right no-repeat; height:31px; line-height:31px; padding:0 10px 0 40px;  }

.videoThumbsFrame{ width:100%; padding:10px 0; }
.imageLoagGif{ margin-top:140px;}

/*added by shakti*/
#pass-strength-result{background-color:#eee;border-color:#ddd!important; width:100px; text-align:center;}
#pass-strength-result.bad{background-color:#ffb78c;border-color:#ff853c!important; margin-left:10px; color:#000;}
#pass-strength-result.good{background-color:#ffec8b;border-color:#fc0!important;  margin-left:10px; color:#000;}
#pass-strength-result.short{background-color:#ffa0a0;border-color:#f04040!important;  margin-left:10px; color:#000;}
#pass-strength-result.strong{background-color:#c3ff88;border-color:#8dff1c!important;  margin-left:10px; color:#000;}
.revewPrew{ width:300px; text-align:left; color:#993399;}

/* -----------***------------  */
.registration{ margin:auto; width:800px;}
.registration .form{ border-left:3px solid #e8eff3; border-right:3px solid #e8eff3; float:left;}
.form div{ padding:5px 10px; width:90%;}
.form div div{ float:left; width:auto !important;}
.form div label{ float:left; width:140px; color:#393733; font-weight:normal; font-size:12px;}
.form div input, .form div select{ float:left; border:1px solid #cac9c9; padding:5px; width:330px;}
 .form div select{width:342px;}
.form div span{ float:left; padding-left:10px;}
.form div.submit{ width:80% !important; padding-left:140px;}
.submit input{ width:auto !important; padding:0px !important; margin:0px !important; border:none !important;}



/* ------------ */

#UserRegisterForm{padding: 0 10px 10px;}

#UserRegisterForm input.error{background: #f8dbdb; border-color: #e77776;}
#UserRegisterForm textarea{ width: 550px; height: 80px; padding: 6px; color: #adaeae; font-family: Arial,  Verdana, Helvetica, sans-serif; font-style: italic; font-size: 12px;	border: 1px solid #cecece;}
#UserRegisterForm textarea.error{background: #f8dbdb; border-color: #e77776;}
.userSchoolSel{width:200px;}
#UserRememberMe{ width:auto !important;}
.forgot{ float:right !important; font-size:11px;}
.forgot a{ text-decoration:none;}
.buttonLogin{ padding-left:20px !important;}

.userSchoolSelError{background: #f8dbdb; width:200px; border-color: #e77776;}
.userYearSel{width:200px;}
.userYearError{	background: #f8dbdb; width:200px; border-color: #e77776;}
.userStatusSel{width:200px;}
.userStatusError{ background: #f8dbdb; width:200px;	border-color: #e77776;}
#UserRegisterForm .UserSchoolId{width: 550px; height: 80px;	padding: 6px; color: #adaeae; font-family: Arial,  Verdana, Helvetica, sans-serif;	font-style: italic;	font-size: 12px; border: 1px solid #cecece;}
#UserRegisterForm textarea.error{ background: #f8dbdb; border-color: #e77776;}
#UserRegisterForm div{font-weight:bold; font-size:10px; color:#009900; width:100%;}
#UserRegisterForm div span{margin-left: 140px; color:#009900; font-size: 11px; font-weight:bold;}
#UserRegisterForm div span.error{color: #FF0000; font-weight:normal;}
#error{ margin-bottom: 20px; border: 1px solid #efefef;}
#error ul{list-style: square; padding: 5px;	font-size: 11px;}
#error ul li{list-style-position: inside;line-height: 1.6em;}
#error ul li strong{color: #e46c6d;}
#error.valid ul li strong{color: #93d72e;}

.userProfileimage{ float:left; margin:0px 50px; border:1px solid #e9e9e9; padding:4px;}
.userDetails{ float:right; width:62%; line-height:25px; border-bottom:1px dashed #e9e9e9;}
.userDetails strong, .textReviewdetails strong{ width:130px; float:left;}
.userDetails a{ color:#000000;}
.textReviewdetails{ float:left; width:82%; line-height:25px; border-bottom:1px dashed #e9e9e9;}
.allreviewContainer{float:left; width:95%; padding:10px 0px 0px 0px; margin:0px 0px 0px 50px; }
.allreviewContainer .reviewDate{ padding-right:10px;}
.allreviewContainer .reviewHeading{ float:left; width:100%;padding:0px 0px 5px 0px; font-weight:bold;}
.allreviewContainer .content{ padding:0px 10px !important;}
.reviewSlider{ float:right; padding-right:20px;}
.reviewSlider .showing{ font-weight:bold; float:left; padding-right:10px; line-height:27px; font-size:11px;}

